@import "tailwindcss";

:root {
  --background: #03396c;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-space-grotesk: var(--font-space-grotesk);
  --font-urbanist: var(--font-urbanist);
  --font-poppins: var(--font-poppins);
  --font-roboto-slab: var(--font-roboto-slab);
  --font-angkor: var(--font-angkor);
  --font-inter: var(--font-inter);
  --font-sarpanch: var(--font-sarpanch);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.font-space-grotesk {
  font-family: var(--font-space-grotesk), sans-serif;
}

.font-urbanist {
  font-family: var(--font-urbanist), sans-serif;
}

.font-poppins {
  font-family: var(--font-poppins), sans-serif;
}

.font-roboto-slab {
  font-family: var(--font-roboto-slab), serif;
}

.font-angkor {
  font-family: var(--font-angkor), serif;
}

.font-inter {
  font-family: var(--font-inter), sans-serif;
}
